.Banner-BG{
    background: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}
.Banner-BG h1{
    max-width: 400px;
  display: flex;
}
.Banner-BG-Text{
    height: 80%;
    display: flex;
    left: 10%;
    position: relative;  
        flex-direction: column;
        justify-content: center;
}
.Banner-BG-Text button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 45px;
}
.Banner-BG h3{
    padding-left: 130px;
    padding-top: 20px;
}