.Section-4-Top-Text h1 {
  text-align: center;
  padding-top: 100px;
padding-bottom: 40px;
  color: #000;
}
.Section-4-Flex {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
}
.input input {
  width: 270px;
  height: 60px;
  background: rgb(207, 207, 207);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 10px;
  margin: 10px 0px;
  outline: none;
  cursor: pointer;
  color: #000000;
}
.All-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Text-Area textarea {
  margin-left: 20px;
  height: 180px;
  width: 97%;
  background: rgb(207, 207, 207);
  border-radius: 8px;
  padding: 10px 0 0 10px;
  border: none;
  outline: none;
}
button {
  margin-left: 20px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
.Address {
  display: flex;
  padding-top: 10px;
  max-width: 400px;
  font-size: 40px;
}
.Icons {
  display: flex;
  gap: 20px;
  font-size: 25px;
  padding-top: 10px;
  cursor: pointer;
}
